<table class="table">
  <thead>
    <tr>
      <th scope="col">Langue</th>
      <th scope="col">Pays</th>
      <th scope="col">Titre</th>
      <th scope="col">Exemplaires</th>
      <th scope="col">Notes</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody >
    <% @books.find_each do |book| %>
        <tr>
          <td>
            <%= book.language %>
            <% unless book.language_details.to_s.empty? || book.language_details.nil? %>
              <a data-bs-toggle="modal" data-bs-target="#languageDetailsModal">
                <i class="fa-solid fa-circle-info"></i>
              </a>
            <% end %>
          </td>
          <td><%= book.country %></td>
          <td><img src="<%= book.title %>" alt=""></td>
          <td><%= book.number_of_books %></td>
          <td><%= book.notes %></td>
          <td>
            <%= link_to(edit_book_path(book), class: "data-bs-toggle='modal' data-bs-target='#updateModal'") do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<!-- LanguageDetailsModal -->
<div class="modal fade" id="languageDetailsModal" tabindex="-1" aria-labelledby="languageDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="languageDetailsModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- UpdateModal qui ne fonctionne pas -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
